.react-datepicker {
  border: 1px solid #333;
  border-radius: 1rem;
  overflow: scroll;
  font-family: inherit;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  background-color: #111;
  color: #f0f0f0;
}

.react-datepicker__header {
  background-color: #1a1a1a;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #a3e635;
  font-weight: 600;
}

.react-datepicker__day,
.react-datepicker__day-name {
  color: #ffffff;
}

.react-datepicker__day--disabled {
  color: #555 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #a3e635 !important;
  color: black !important;
  border-radius: 0.5rem;
}

.react-datepicker__day:hover {
  background-color: #bef264;
  color: black;
  border-radius: 0.5rem;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #1a1a1a;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul li.react-datepicker__time-list-item--selected {
  background-color: #a3e635;
  color: black;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__time-container {
  border-left: 1px solid #333;
}

.react-datepicker__time {
  background-color: #1a1a1a;
  border-radius: 0 1rem 1rem 0;
  overflow: scroll;
}

.react-datepicker__time-box {
  width: 100%;
}

.react-datepicker__time-list-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 0.5rem;
  margin: 2px 4px;
  color: #f0f0f0;
}

.react-datepicker__time-list-item:hover {
  background-color: #333;
  color: #a3e635;
}

.react-datepicker__time-list-item--selected {
  background-color: #a3e635 !important;
  color: black !important;
  font-weight: 500;
}