# Общие игнорируемые файлы
*.log
*.swp
*.swo
.DS_Store
.idea/
.vscode/
.env
.env.local
*.pyc
__pycache__/
*.sqlite3
*.pid
*.seed
*.tgz
*.yarn-integrity
*.env
*.bak
*.tmp
*.orig
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.dump
*.sublime-workspace
*.sublime-project
Thumbs.db

# FastAPI (Python)
venv/
ENV/
env/
*.py[cod]
.python-version
pip-selfcheck.json
celerybeat-schedule
celerybeat.pid
instance/
.webassets-cache
.coverage
htmlcov/
.pytest_cache/
.coverage.*
.mypy_cache/
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.mo
*.pot

# React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
/public/**/*.map
/src/**/*.map
/coverage
/.cache
/build
/dist
.next/
out/
storybook-static/
*.css.map
*.js.map

# Flutter
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.fvm/
*.lock
*.flutter.js
*.dart.js
*.info.json
*.js.deps
*.part.js
*.dart
*.dart.app.js

# IDE специфичные файлы
*.sw?
*.un~
*~
.project
.settings/
.metadata/
.classpath
.cproject
.factorypath
.springBeans
.interpol

# Системные файлы
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk